@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

body{
    margin: 0;
}

.viewport:nth-child(1){
    background-image: linear-gradient(to right, #051e37, #004f7a, #008698, #00bc7d, #42eb12);
}

.viewport:nth-child(2){
    background-image: linear-gradient(to right, #741e6f, #a71b66, #ce2e53, #e55439, #eb8012);
}

.viewport{
    height: 100vh;
    position: relative;
}

section.card{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40vw;
    transform: translate(-50%, -50%);
    box-shadow: 0 25px 50px -12px rgb(0, 0, 0.25);
}

.card img{
    width: 100%;
}
i{
    color: white;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}