

@{
    ViewBag.Name = "Become Moderator";
}

<h2> Do you want to become a moderator of this page </h2>
<div class="col-md-4">
    <section>
        <form id="account" method="post">
            <p>We generally expect that moderators:</p>
            <ul>
                <li>are patient and fair</li>
                <li>lead by example</li>
                <li>show respect for their fellow community members in their actions and words</li>
                <li>are open to some light but firm moderation to keep the community on track and resolve (hopefully) uncommon disputes and exceptions</li>
            </ul>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </section>
</div>
<h3>Changes will take effect next time you login !</h3>