
body{

    display: flex;
    background-color: rgb(238, 238, 238);
    justify-content: center;
    width: 1060px;
}
.container{
    
    display: flex;
    flex-shrink: 1;
    
}

img{
    margin: 20px;
    height: 400px;
    box-shadow: 0 0 10px;
    border-radius: 5px;
}

.cover{
     
    object-fit: cover;
    width: 100px;
}