
@{
    ViewData["Title"] = "Add Cat";
}

<div class="add pet">
    <img src="~/images/cat.jpeg" class="center" />
</div>

<partial name="_PetsViewModelPartial"/>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}