
@{
    ViewData["Title"] = "Add Cat";
}

<partial name="_CatsNavBarPartial" />
<div class="add pet">
    <img src="~/images/cat.jpeg" class="center" />
</div>
<h2 class="text-center">Add Cat</h2>
<partial name="_PetsViewModelPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}