

@{
    ViewData["Title"] = "Add Dog";
}

<div class="add pet">
    <img src="~/images/dog.jpeg" class="center" />
</div>
<h2 class="text-center">Add Dog</h2>
<partial name="_PetsViewModelPartial" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}