

@{
    ViewData["Title"] = "Add Dog";
}

<div class="add pet">
    <img src="~/images/dog.jpeg" class="center" />
</div>

<partial name="_PetViewModelPartial" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}