@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

div{

    margin: 1rem;
}

legend{

    background-color: whitesmoke;
    box-shadow: 0 0 5px;
    width: 15vh;
    height: 5vh;
    margin-left: 0px;
    line-height: 5vh;
    padding-left: 2vh;
}

p, button{

    margin-left: 2rem;
}

fieldset {

    background-color: whitesmoke;
    box-shadow: 0 0 5px;
    padding: 0px;
    margin: 20px;
    border-radius: 4px;
    border: none;
}

input{

    border-radius: 4px;
}

button{

    background-color: black;
    color: white;
    border-radius: 4px;
    margin-bottom: 2rem;
}