
body{

    padding: 50px;
    background-color: rgb(238, 238, 238);
}

main{

    display: grid;
    grid-template-columns: 
    "main main"
    "aside aside";
}

main{grid-column: main;}
aside{grid-column: aside;}

aside{
    margin-left: 40px;
}
main{
    padding-right: 80px;
}

h1, nav{

    display: inline-block;
}

nav{

    float: right;
}

a{
    text-decoration: none;
    color: rgb(0, 102, 0);
}

ul{

    list-style-type: square;
}

header li{

    display: inline-block;
    margin: 10px;
    
}

img{
    border: solid 3px black;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.25);
}

blockquote{

    font-family: Georgia, serif;
    float: right;
    width: 50%;
    border-left: solid black;
    padding-left: 10px;
    margin-top: 0px;
}

blockquote p{
    
    margin-top: 0px;
}

#author{

    text-align: right;
}

#img1{

    float: right;
    margin-left: 10px;
    
    
}

#img2{

    float: left;
    margin-right: 10px;
}
